.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 42px;
    width: 100%;
    background-color: rgb(19, 19, 19);

}
.link {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.link a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 25px;
}
.user-cart{
    margin-top: 8px;
}